div.filmAbstract{
	margin: 20px 0;
	padding: 10px;
}
div.filmAbstract h1{
	font-size: 20px;
	border-bottom: 1px solid lightgray;
}
div.filmAbstract p{
	margin-top: 5px;
}
div.filmAbstract p span{
	margin-right: 10px;
}
div.filmAbstract p span.douban{
	margin-right: 2px;
}
div.filmAbstract p span.douban:before,
div.filmAbstract p span.imdb:before{
	display: inline-block;
	margin-right: 3px;
	position: relative;
}
div.filmAbstract p span.douban:before{
	content: "";
	background: url(https://t1.picb.cc/uploads/2018/12/06/JTjddD.jpg) no-repeat center;
	background-size: 100% 100%;
	width: 15px;
	height: 15px;
	top: 2px;
}
div.filmAbstract p span.imdb:before{
	content: "";
	background: url(https://t1.picb.cc/uploads/2018/12/06/JTpyCv.jpg) no-repeat center;
	background-size: 100% 100%;
	width: 30px;
	height: 14px;
	top: 2px;
}
div.filmDetails{
	overflow: hidden;
}
div.filmDetails img{
	width: 26%;
	float: left;
	display: block;
}
div.filmDetails>div{
	width: 74%;
	float: left;
	padding: 0 5px;
}
div.filmDetails>div h1{
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 3px;
}
div.intro{
	margin: 20px 0;
	padding: 10px;
}
div.intro h2,
div.download h2{
	border-bottom: 1px solid lightgray;
	margin-bottom: 5px;
}
div.intro p{
	text-indent: 29px;
	line-height: 28px;
}
div.download{
	padding: 10px;
	margin-bottom: 20px;
}
div.download a{
	display: block;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
div.download a:hover{
	color: orangered;
}
div.download a:last-of-type{
	border-bottom: none;
}
div.download a.magnet::before{
	content: "磁力链接：";
	font-weight: bold;
}
div.download a.magnet::after{
	content: attr(size);
	font-weight: bold;
	margin-left: 8px;
	padding: 2px 3px;
	background: steelblue;
	color: white;
	border-radius: 3px;
}
div.download a.baiduCloud::before{
	content: "百度云：";
	font-weight: bold;
}
div.videoCapture{
	margin-bottom: 20px;
	border: 20px solid white;
	overflow: hidden;
	position: relative;
}
div.videoCapture div.carousel{
	width: 80%;
	overflow: hidden;
	float: left;
	position: relative;
}
div.carousel ul{
	overflow: hidden;
 	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
div.carousel ul li{
	float: left;
}
div.carousel span{
	position: absolute;
	z-index: 2;
	background: rgba(0,0,0,0.4);
	color: white;
	width: 40px;
	height: 56px;
	line-height: 55px;
	text-align: center;
	margin-top: -28px;
	cursor: pointer;
}
div.carousel span:hover{
	background: rgba(0,0,0,0.7);
}
div.carousel span.prev{
	top: 50%;
	left: 10px;
}
div.carousel span.next{
	top: 50%;
	right: 10px;
}
div.thumbnail{
	width: 20%;
	position: absolute;
	right: 0;
	z-index: 9;
	background: white;
}
div.thumbnail ul{
	height: 100%;
}
div.thumbnail ul li{
	padding: 0 0 5px 5px;
	cursor: pointer;
}
div.thumbnail ul li:last-child{
	padding-bottom: 0;
}
div.thumbnail ul li img{
	width: 100%;
	height: 100%;
}
.activeImg{
	border: 3px solid #196cd2;
	box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.5)	
}
