body{
	/*min-width: 400px;*/
}
div.container-full{
	max-width: 1300px;
	margin: auto;
}
div.top{
	height: 50px; 
}
i.icon-liebiao{
	float: left;
	width: 30px;
	height: 30px;
	line-height: 29px;
	text-align: center;
	margin: 10px 0 0 15px;
	font-size: 18px;
	border: 1px solid darkgray;
	border-radius: 3px;
	color: dimgray;
	display: none;
	cursor: pointer;
}
div.top>div.logo,div.top>ul{
	float: left;
	height: 50px;
	line-height: 50px;
	display: block;
}
div.logo{
	padding: 0 30px;
}
div.logo img{
	height: 100%;
	margin-bottom: 5px;
}
ul.nav{
	margin-left: 0px;
}
ul.nav li{
	float: left;
	padding: 0 5px;
	cursor: pointer;
	height: 100%;
}
ul.nav li a{
	color: #333;
	display: inline-block;
	width: 100%;
}
ul.nav li a:hover{
	color: #009688;
	font-weight: bold;
}
ul.nav li a i{
	margin-right: 3px;
	display: none;
}
div.search{
	float: right;
	padding: 10px 20px 0 0;
	height: 50px;
	background: white;
}
div.search input{
	float: left;
	height: 30px;
	border: 1px solid darkgray;
}
div.search input[type="text"]{
	padding-left: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: none;
}
div.search input[type="button"]{
	background: white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: url(https://i.loli.net/2018/12/28/5c24f70012c00.jpg) no-repeat center;
	background-size: 65% 65%;
	width: 30px;
}
.borderBottom{
	border-bottom: 4px solid #5FB878;
}
.red{
	color: red !important; 
}
.green{
	color: #008000 !important;
}
div.backToTop{
	position: fixed;
	z-index: 99;
	background: rgba(0,0,170,0.5);
	color: white;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	bottom: 20px;
	padding: 0 6px 3px 6px;
	display: none;
}
div.backToTop span{
	display: inline-block;
	font-weight: bold;
}
