.searchHead .layui-input{
	height: 30px;
}
.searchHead .layui-btn{
	height: 29px;
	position: relative;
	top: -1px;
}
#movieDataTab{
	margin-left: 200px;
	padding: 0 3px;
}
#movieDataTab>li{
	display: none;
}
#movieDataTab .layui-table-view{
	margin: 3px 0;
}
.formWindow{
	display: none;
	margin: 10px 15px 0 20px;
}
.formWindow>div{
	margin-bottom: 11px;
}
.formWindow>div div{
	min-height: 0;
}
.formWindow>div div.layui-input-block{
	margin-left: 100px;
}
.formWindow label.layui-form-label,
.formWindow input.layui-input{
	height: 30px;
	line-height: 13px;
}
.formWindow label.layui-form-label{
	width: 100px;
	padding: 8px 5px;
}
.formWindow div.marginRight0{
	margin-right: 0;
}
.formWindow div.width-xs{
	width: 302px;
}
.formWindow div.width-sm{
	width: 395px;
}
